body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ff8e1c;
}

.container {
	width: 100%;
	height: 568px;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		'gearbolt stream time';
	justify-content: space-evenly;
}

#gearbolt {
	grid-area: gearbolt;
}

#stream {
	grid-area: stream;
	transform: rotate(-90deg);
}

#time {
	grid-area: time;
	color: white;
	font-size: 120pt;
}