body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ff8e1c;
	color: white;
	font-size: 96pt;
}

.container {
	width: 100%;
	height: 568px;
	padding-top: 25px;

	display: grid;
	grid-template-columns: 200px 360px 300px;
	grid-template-rows: 360px 200px;
	grid-template-areas:
		'gearbolt stream time'
		'gearbolt battery battery';
	justify-content: space-around;
	align-content: space-around;
}

#gearbolt {
	grid-area: gearbolt;
	max-width: 200px;
}

#stream {
	grid-area: stream;
	transform: rotate(-90deg);
}

#time {
	grid-area: time;
}

#battery {
	grid-area: battery;
}